#header {
    .navbar {
        li {
            position: relative;
            margin-top: 10px;
            &::after {
                content: "";
                display: block;
                height: 3px;
                background-color: #fe7900;
                position: absolute;
                width: 0%;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s;
            }
            &:hover::after {
                width: 100%;
            }
            a {
                font-size: 15px;
                font-weight: 700;
                padding: 0 8px;
            }
        }
        li.active::after {
            width: 100%;
        }
    }
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
    .menu {
        flex-direction: column;
        background: white;
        align-items: start;
        position: absolute;
        padding: 14px;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .menu-icon {
        display: block;
        padding: 0 8px;
        font-size: 28px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }
}
